* {
    font-family: 'times', monospace;
    font-weight: 400;
    background-color: black;
    color: white;
    
}
#main {
    min-width: fit-content;
}

#logo {
    width: 100%;
} 
.container {
    max-width: fit-content;
    margin: 0px auto;
}
#shooterName {
    background-color: white;
    color: black;
}
.goButton {
    
    background-color: green;
    color: white;
    text-align: center;
    display: block;
}
.noButton {
    background-color: red;
    color: white;
    text-align: center;
    display: block;
}
.resetButton {
    background-color: yellow;
    color: black;
    text-align: center;
    display: block;
}

#member {
    background-color: white;
    color: black;
    text-align: center;
    display: inline;
}

h1 {
    text-align: left;
}
table {
    text-align: center;
    padding: 0;
    background-color: red;
    padding: 5px;
    
}
th {
    font-weight: 700;
    
}
td {
    padding: 1px;
    border: 1px grey solid;
    background-color: green;
    margin: 5px;
}
#range4 {
    margin-right: 1px;
    display: inline-block;
}

.waitList {
    margin-left: 31px;
    width: 700px;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    display: inline-block;
}